<a href="/admin/">Login - Admin</a>

<br>
<a href="/tests/Runner.cfm">Testes</a>

<hr>
<br>Dados para acesso Portal:
<br>Usuário: homolead
<br>Senha: senacead
<br><a href="http://homead.sp.senac.br">http://homead.sp.senac.br </a>

<hr>
<br>Dados para acesso CMS (gerenciador de conteúdo)::
<br>Usuário: Usuário: solicitar por esse e-mail, aos cuidados do Edson Barboza o acesso – enviar o CPF do usuário
Senha: será enviado junto com o usuário, nesse momento.
<br><a href="http://cms.homead.sp.senac.br">http://cms.homead.sp.senac.br </a>

<hr>
<br>Link para consumo dos serviços (Apis de integração)
<br>(se atentar ao https para conexão segura) Foram atualizadas as URLs no documento de especificação técnica, seguir esse documento para realização dos testes.
<br><a href="https://api.homead.sp.senac.br">https://api.homead.sp.senac.br </a>


<hr>
<br> Projeto Senac EAD Documentos
<br><a href="http://www1.sp.senac.br/hotsites/temp/projetoead/ ">http://www1.sp.senac.br/hotsites/temp/projetoead/  </a>

