<cfoutput>
<hr>
<footer class="footer "> 
	<div class="col-md-6 col-xs-6"> <p class=""> <span class="dark"> <i class="fa fa-desktop"></i> <b>#Application.AdminTitulo#</b> - <small> Senac SP</small> 
	</span> </p> </div>
	<div class="col-md-6 col-xs-6"> <p class="right">  <img src="#Application.AdminPathLogico#/img/logo.png" alt="" style="width:60px; height:15px;"> </p> </div> 
</footer>
</cfoutput>