/*!
 * Senac Admin - Escola de Liderança 
 * Designer: Rodrigo Alves dos Santos
 */

 /* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

 html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body{ font-family: 'Open Sans', sans-serif !important }

/* Sets */

*{text-decoration: none;
  outline: none !important;}


/* CSS Pagina de login */
.bg{ background-image: url("../img/bg.png");}
.logologin{text-align:center; margin:15px 5px}   
.form-login {
    max-width:330px;
    margin:50px auto;
    background:#fff;
    border-radius:5px;
    -webkit-border-radius:5px;
    -webkit-box-shadow: 6px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 28px -4px rgba(0,0,0,0.75);
}
.form-login h2.form-login-heading {
    margin:0;
    padding:20px 15px;
    text-align:center;
    background:#004587;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    color:#fff;
    font-size:18px;
    text-transform:uppercase;
    font-weight:300;
    font-family:'Open Sans',sans-serif;
    border-bottom:4px solid #F29C00;
}
.form-login .checkbox {
    margin-bottom:14px;
    padding-left: 20px;
}
.form-login .checkbox {
    font-weight:normal;
    color:#b6b6b6;
    font-weight:300;
    font-family:'Open Sans',sans-serif;
}
.form-login .form-control {
    position:relative;
    font-size:16px;
    height:auto;
    padding:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.form-login .form-control:focus {
    z-index:2;
}
.form-login input[type="text"],.form-login input[type="password"] {
    margin-bottom:15px;
    border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #eaeaea;
    box-shadow:none;
    font-size:12px;
}
.form-login .btn-login {
    background:#00478B;
    color:#fff;
    text-transform:uppercase;
    font-weight:300;
    font-family:'Open Sans',sans-serif;
    margin:20px 0 5px;
}
.form-login p {
    text-align:left;
    color:#b6b6b6;
    font-size:16px;
    font-weight:300;
}
.login-wrap {
    padding:20px;
    position:relative;
    border:1px solid #ccc;

}
.user-login-info {
    background:#eaeaec;
    margin:-20px -20px 20px -20px;
    padding:20px;
}
.user-login-info .form-control:last-child {
    margin-bottom:0 !important;
}
/* Fim Css Pagina de login */







.panel-body {
    padding: 17px 10px 10px 10px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 5px 0px;
    border-radius: 4px;
}


#page-wrapper{background-color: #f1f2f7 !important;}

a.logo {

    float:left;
    

}

.fixed-top {
    position: fixed;
    box-shadow: 1px 0 3px rgba(0,0,0,.15);
   

}

.navbar-default {
    background-color: #fff;
    
    box-shadow: 1px 0 3px rgba(0,0,0,.15);

}


.navbar .nav > li > a {
  color:#000;
  float:none;
  font-size:12px;
  
  text-decoration:none;
  
}


.navbar .nav > li > a i {
	margin-right:8px;
	color:#005594;
   font-size:16px;

}

.navbar{margin-bottom:0px;}

.btn.jumbo {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.btn2 {
    display: inline-block;
    
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}



.panel-default>.panel-heading {
  
    text-transform: normal;

    color:#000; 
    border-bottom:1px dotted #ccc;
    font-size:13px;
    font-weight: bold;

    margin-bottom:0px;
    background: #fff url(../img/detal.png) right no-repeat;

}


.panel-default>.panel-heading.pesquisas {
  
    text-transform: normal;

    color:#000; 
    border-bottom:1px dotted #ccc;
    font-size:13px;
    font-weight: bold;

    margin-bottom:0px;
    background: #fff;

}



.tools a {
    margin-left: 10px;
    color: #a7a7a7;
    font-size: 12px;
    padding: 12px 7px 0px 0px;
}
a .selected:before {
    display: block;
    height: 41px;
    position: absolute;
    right: -10px;
    top: -1px;
    width: 11px;
    content: "\e16c";
    font-family: 'clip-font';
    line-height: 41px;
    font-size: 24px;
}

.panel-heading > [class^="fa-"], .panel-heading > [class*=" fa-"]{

   
    padding: 12px 10px 8px;
    left: 0;
    top: 0;
    height: 35px;
    color: #F78B1F;
}

.navbar-collapse li {
    padding-right: 0;
    padding-left: 0;

    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
}

.nav-second-level li{ 	
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-repeat: repeat-x;
}

.panel-default {
   margin-top:15px;
}



.btnsprincipal{ margin: 5px 0px 5px 0px;}
.btn-group-xs>.btn, .btn-xs {
    padding: 3px 8px;
    }

    .panel {
    margin-bottom: 0px;
  }





#accordion .panel-heading {
    border-color: #eff2f7;
    font-size: 13px;
    font-weight: 400;
    background: #fafafa;
    text-transform: uppercase;
    padding: 15px;
}


#accordion .panel-title {
    color: #32323A;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;


}

#accordion .panel a { font-size:12px;}
.ofertaList{margin-top:20px;}
.ofertaList ul li{
    background: #fafafa;
    color: #666;
    border-top: 1px solid #ccc;
    padding:5px;
}



.btnAdicionar{margin-top:25px;}

.titulo{color:#337AB7; 
    border-bottom:1px dotted #ccc;
    font-size:13px;
    font-weight:bold;
    padding-bottom:10px;
    margin-bottom:20px;
    text-transform:uppercase;}

    .titulo2{color:#F29C00;
        border-bottom:1px dotted #ccc;
        font-size:14px;
        font-weight:bold;
        padding-bottom:10px;
        margin-bottom:20px;
        text-transform:uppercase;}

        .titulo3{color:#468C00;
            border-bottom:1px dotted #ccc;
            font-size:12px;
            font-weight:bold;
            padding-bottom:10px;
            margin-bottom:20px;
            text-transform:uppercase;}

            .titulo4{color:#468C00;


                text-transform:uppercase;} 

                .page-header {
                    padding-bottom: 9px;
                    margin: 12px 0 15px;
                    border-bottom: 1px solid #eee; 
                }


                .materiasCadastradas {margin:10px 2px 5px 20px; border-bottom: 1px dashed #ccc;}



                .offset-0 {
                    padding-left: 0px;
                    padding-right: 0px !important;
                }

                .offset-1 {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                .offset-2 {
                    padding-left: 15px;
                    padding-right: 15px;
                }

                .offset-3 {
                    padding-left: 15px;
                    padding-right: 0px;
                }



                .blue{color:#004687}


                .listComponentes{

                  border:1px solid #eff2f7;
                  font-size: 13px;
                  color: #767676;
                  background: #fafafa;
              }

              /*GLOBAL*/
              .none{display:none;}
              .block{display:block;}
              .left{float:left;}
              .right{float:right;}
              .center{margin:0 auto; text-align:center;}
              .textleft{text-align:left;}
              .textright{text-align:right;}
              .textcenter{text-align:center;}
              .caps{text-transform:uppercase;}
              .relative{position:relative;}
              .absolute{position:absolute;}
              .fixed{position:fixed!important;}
              .cpointer{cursor:pointer;}
              .cunvailable{cursor:not-allowed;}
              .indent0{text-indent:0px;}

              .ohidden{overflow:hidden;}


              .posright-0{right:auto!important}


              .line1{background:#e7e7e7; height:1px;  margin:16px 0 6px 0; padding:0; display:block;}
              .line2{background:#e8e8e8; height:1px;  margin:12px 0 6px 0; padding:0; display:block;}
              .line3{background:#e8e8e8; height:1px;  margin:0px 0 0px 0; padding:0; display:block;}
              .line4{background:#e8e8e8; height:1px;  margin:17px 0 15px 0; padding:0; display:block;}
              .line5{background:#e8e8e8; height:1px;  margin:4px 0 12px 0; padding:0; display:block;}

              /*TYPOGRAPHY CUSTOMISATION*/
              .xslim{font-weight:100;}
              .slim{font-weight:300;}
              .normal{font-weight:400;}


              .bold{font-weight:700;}


              .lh1{line-height:7px !important;}
              .lh2{line-height:15px;}
              .lh3{line-height:60px;}
              .lh4{line-height:17px;}
              .lh5{line-height:36px;}

              .lato{font-family:"Lato";}
              .opensans{font-family:"Open Sans";}
              .size8{font-size:8px;}
              .size10{font-size:10px;}
              .size11{font-size:11px;}
              .size12{font-size:12px;}
              .size13{font-size:13px;}
              .size14{font-size:14px;}
              .size16{font-size:16px;}
              .size18{font-size:18px;}
              .size20{font-size:20px;}
              .size22{font-size:22px;}
              .size24{font-size:24px;}
              .size28{font-size:28px;}
              .size26{font-size:26px;}
              .size30{font-size:30px;}
              .size40{font-size:40px;}
              .size48{font-size:48px;}
              .size60{font-size:60px;}
              .size65{font-size:65px;}
              .size100{font-size:100px;}






              /*COLORS*/
              .white{color:#fff;}
              .dark{color:#333;}
              .lgrey{color:#ccc;}
              .lightgrey{color:#ccc;}
              .grey{color:#999;}
              .grey2{color:#666;}
              .green{color:#72bf66;}
              .green2{color:#339933;}
              .lblue{color:#0099cc;}
              .yellow{color:#ffff00;}
              .red{color:#ff3300;}
              .lred{color:#ff9966;}
              .lred2{color:#ff5a00;}
              .lorange{color:#F78B1F;}

              .mleft15{margin-left:15px;}
              .mleft10{margin-left:10px;}
              .mleft-15{margin-left:-15px !important}
              .mtop15{margin-top:15px;}
              .mtop-18{margin-top:-18px !important}
              .mbottom10{margin-bottom:10px;}
              .mbottom30{margin-bottom:30px;} 
              .padding15{ padding: 15px}
              .paddingnone{ padding: none !important} 
              .mg20{margin:20px;}
              .mg4{margin:4px;} 
              .mright5{margin-right: 5px}

              .panel-footer { border: 1px solid #ddd;}

              .degrade{


                background-color: #f5f5f5;
                background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
                background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
                background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
                background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
                background-image: linear-gradient(top, #ffffff, #e6e6e6);
                background-repeat: repeat-x;

            }



             /*ALINHAMENTO E POSICIONAMENTO */
 .paddingg{padding:0px !important;}
 .pbottom15{padding-bottom:10px;}
 .m1{margin:13px 0px 0px 22px;}
 .mt110{position:relative; top:90px;}
 .mt1{position:relative; top:1px;}
 .mt2{position:relative; top:2px;}
 .mt3{position:relative; top:3px;}
 .mt4{position:relative; top:4px;}
 .mt5{position:relative; top:5px;}
 .mt6{position:relative; top:6px;}
 .mt7{position:relative; top:7px;}
 .mt8{position:relative; top:8px;}
 .mt9{position:relative; top:9px;}
 .mt10{position:relative; top:10px;}
 .mt15{position:relative; top:15px;}
 .mt20{position:relative; top:20px;}
 .mt25{position:relative; top:25px;}
 .mt30{position:relative; top:30px;}
 .mt-1{position:relative; top:-1px;}
 .mt-2{position:relative; top:-2px;}
 .mt-3{position:relative; top:-3px;}
 .mt-4{position:relative; top:-4px;}
 .mt-5{position:relative; top:-5px;}
 .mt-6{position:relative; top:-6px;}
 .mt-7{position:relative; top:-7px;}
 .mt-8{position:relative; top:-8px;}
 .mt-9{position:relative; top:-9px;}
 .mt-10{position:relative; top:-10px;}
 .mt-20{position:relative; top:-20px;}
 .mt-40{position:relative; top:-40px;} 
 .mt-70{position:relative; top:-70px;}
 .mt-200{position:relative; top:-261px;}
 .mt-130{position:relative; top:-130px;}

 .margtop1{margin-top:1px!important;}
 .margtop2{margin-top:2px!important;}
 .margtop3{margin-top:3px!important;}
 .margtop4{margin-top:4px!important;}
 .margtop5{margin-top:5px!important;}
 .margtop6{margin-top:6px!important;}
 .margtop7{margin-top:7px!important;}
 .margtop8{margin-top:8px!important;}
 .margtop9{margin-top:9px!important;}
 .margtop10{margin-top:10px!important;}
 .margtop12{margin-top:12px!important;}
 .margtop15{margin-top:15px!important;}
 .margtop20{margin-top:20px!important;}
 .margtop25{margin-top:25px!important;}
 .margtop30{margin-top:30px!important;}
 .margtop35{margin-top:35px!important;}
 .margtop40{margin-top:40px!important;}

 .margtop-0{margin-top:0px;}
 .margtop-1{margin-top:-1px!important;}
 .margtop-2{margin-top:-2px!important;}
 .margtop-3{margin-top:-3px!important;}
 .margtop-4{margin-top:-4px!important;}
 .margtop-5{margin-top:-5px!important;}
 .margtop-10{margin-top:-10px!important;}
 .margtop-15{margin-top:-15px!important;}
 .margtop-20{margin-top:-20px!important;}
 .margtop-25{margin-top:-25px!important;}
 .margtop-30{margin-top:-30px!important;}
 .margtop-35{margin-top:-35px!important;}
 .margtop-40{margin-top:-40px!important;}

 .margleft1{margin-left:1px!important;} 
 .margleft15{margin-left:15px!important;}
 .margleft20{margin-left:20px!important;}
 .margleft120{margin-left:120px!important;}

 .margright5{margin-right:5px!important;}
 .margright10{margin-right:10px!important;}
 .margright20{margin-right:20px!important;}
 .margright-5{margin-right:-5px!important;}

 .margbottom10{margin-bottom:10px!important;}
 .margbottom20{margin-bottom:20px!important;}
 .margbottom40{margin-bottom:40px!important;}

 .paddingbtm20{padding-bottom:20px;} 
 .padding0{padding:0px!important;}
 .padding20{padding:20px;}
 .padding10{padding:10px;}
 .padding5{padding:5px;} 
 .padding15{padding:15px;}
 .padding30{padding:30px;}
 .hpadding30{padding:0 30px;}
 .padding40{padding:40px;}
 .padding50{padding:50px;}
 .hpadding50{padding:0 50px;}
 .padding20title{padding:20px 20px 0px 20px;}
 .hpadding20{padding: 0px 20px 0px 20px;}
 .cpadding0{padding: 50px 50px 30px 50px;}
 .cpadding1 {padding: 20px;}

 .offset-0{padding-left:0px; padding-right:0px!important;}
 .offset-1{padding-left:5px; padding-right:5px;}
 .offset-2{padding-left:15px; padding-right:15px;}
 .offset-3{padding-left:15px; padding-right:0px;} 
 .offset-4{padding-left:0px; padding-right:15px;} 
 .offset-5{padding-left:4px; padding-right:4px;} 














            .border{-webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                box-shadow: rgba(0,0,0,0.3) 0 3px 5px;}

                .inativo{    z-index: 2;
                    color: #000 !important;
                    background-color: #f7f7f7 !important;
                    border-color: #ccc !important;
                }


                .bluebtn {

                    border: 1px solid #006699;
                    background: #3994d4;
                    background: -webkit-gradient(linear, left top, left bottom, from(#3994d4), to(#1d7db7));
                    background: -webkit-linear-gradient(top, #3994d4, #1d7db7);
                    background: -moz-linear-gradient(top, #3994d4, #1d7db7);
                    background: -ms-linear-gradient(top, #3994d4, #1d7db7);
                    background: -o-linear-gradient(top, #3994d4, #1d7db7);

                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
                    color: #fff;
                    font-size: 12px;
                    text-decoration: none;
                    vertical-align: middle;

                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    transition: .3s;
                }

                .greenbtn {
                    text-transform: uppercase;
                    border: 1px solid #3F853F;
                    background: #5CB85C;
                    background: -webkit-gradient(linear, left top, left bottom, from(#5CB85C), to(#1d7db7));
                    background: -webkit-linear-gradient(top, #5CB85C, #469F46);
                    background: -moz-linear-gradient(top, #5CB85C, #469F46);
                    background: -ms-linear-gradient(top, #5CB85C, #469F46);
                    background: -o-linear-gradient(top, #5CB85C, #469F46);
                    padding: 5.5px 10px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
                    color: #fff;
                    font-size: 14px;

                    text-decoration: none;
                    vertical-align: middle;

                    font-weight: 700;
                    text-transform: uppercase;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    transition: .3s;
                }


                .graybtn {
                    text-transform: uppercase;
                    border: 1px solid #BDBDBD;
                    background: #3994d4;
                    background: -webkit-gradient(linear, left top, left bottom, from(#3994d4), to(#1d7db7));
                    background: -webkit-linear-gradient(top, #C0C2C3, #F7F7F7);
                    background: -moz-linear-gradient(top, #3994d4, #1d7db7);
                    background: -ms-linear-gradient(top, #3994d4, #1d7db7);
                    background: -o-linear-gradient(top, #3994d4, #1d7db7);
                    padding: - 3px 2px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
                    color: #151515;
                    font-size: 16px;
                    font-family: Helvetica, Arial, Sans-Serif;
                    text-decoration: none;
                    vertical-align: middle;
                    font-family: "Open Sans";
                    font-weight: 700;
                    text-transform: uppercase;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    transition: .3s;
                }


                .panel-title a{

                 font-size:14px;
                     color: #2E74A7;
                     font-weight: bold;
             }




             /*gallery*/

             .media-filter {
                float: left;
                margin: 10px 0;
                padding-left: 0;
            }

            .media-filter li{
                float: left;
                margin-right: 10px;
                list-style: none;
            }

            .media-filter li a{
                background: #e6e6e6;
                padding: 5px 10px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
            }

            .media-filter li a:hover, .media-filter li a:focus{
                background: #F78B1F;
                color: #fff;
            }

            .media-gal {
                float: left;
                width: 100%;
                margin-top: 20px;
            }
            .media-gal .item {
                float: left;
            }

            .media-gal .item {
                margin-bottom: 1%;
                margin-right: 1%;
                width: 233px;
                padding: 10px;
                border: 1px solid #ddd;
            }

            .media-gal .item p {
                margin-bottom: 0;
                margin-top: 10px;
                text-align: center;
            }

            .media-gal .item img {
                height: 200px;
                width: 100%;
            }

            .img-modal img{
                width: 100%;
                margin-bottom: 10px;
            }


            * Start: Recommended Isotope styles */

            /* Isotope Filtering */

            .isotope-item {
                z-index: 2;
            }

            .isotope-hidden.isotope-item {
                pointer-events: none;
                z-index: 1;
            }

            /*Isotope CSS3 transitions */

            .isotope,
            .isotope .isotope-item {
                -webkit-transition-duration: 0.8s;
                -moz-transition-duration: 0.8s;
                -ms-transition-duration: 0.8s;
                -o-transition-duration: 0.8s;
                transition-duration: 0.8s;
            }

            .isotope {
                -webkit-transition-property: height, width;
                -moz-transition-property: height, width;
                -ms-transition-property: height, width;
                -o-transition-property: height, width;
                transition-property: height, width;
            }

            .isotope .isotope-item {
                -webkit-transition-property: -webkit-transform, opacity;
                -moz-transition-property: -moz-transform, opacity;
                -ms-transition-property: -ms-transform, opacity;
                -o-transition-property: -o-transform, opacity;
                transition-property: transform, opacity;
            }

            /*disabling Isotope CSS3 transitions */

            .isotope.no-transition,
            .isotope.no-transition .isotope-item,
            .isotope .isotope-item.no-transition {
                -webkit-transition-duration: 0s;
                -moz-transition-duration: 0s;
                -ms-transition-duration: 0s;
                -o-transition-duration: 0s;
                transition-duration: 0s;
            }


            /* disable CSS transitions for containers with infinite scrolling*/
            .isotope.infinite-scrolling {
                -webkit-transition: none;
                -moz-transition: none;
                -ms-transition: none;
                -o-transition: none;
                transition: none;
            }

            /*draggable portlet*/

            .sortable-box-placeholder {
                height:200px !important;;
                border: 2px dashed #828295;
                margin-bottom: 20px;
                background: #e5e6eb;
            }

            .sortable{
                min-height: 400px;;
            }









            .fileinput-button {
                position: relative;
                overflow: hidden;
                background: #78CD51;
                border-color: #78CD51;
            }
            .fileinput-button input {
              position: absolute;
              top: 0;
              right: 0;
              margin: 0;
              opacity: 0;
              -ms-filter: 'alpha(opacity=0)';
              font-size: 200px;
              direction: ltr;
              cursor: pointer;
          }

          /* Fixes for IE < 8 */
          @media screen\9 {
              .fileinput-button input {
                filter: alpha(opacity=0);
                font-size: 100%;
                height: 100%;
            }
        }



        /*form*/
        .sm-input {
            width:175px;
        }
        .form-horizontal.bucket-form .form-group {
            border-bottom:1px solid #eff2f7;
            padding-bottom:8px;
            margin-bottom:8px;
        }
        .form-horizontal .control-label {
    font-weight: bold;
    font-size: 11px;
}
        .form-horizontal.bucket-form .form-group:last-child {
            border-bottom:none;
            padding-bottom:0px;
            margin-bottom:0px;
        }
        .form-horizontal.bucket-form .form-group .help-block {
            margin-bottom:0;
        }
        .round-input {
            border-radius:500px;
            -webkit-border-radius:500px;
        }
        .m-bot15 {
            margin-bottom:15px;
        }
        .form-horizontal.bucket-form .checkbox-inline>input {
            margin-top:1px;
            border:none;
        }
        .btn.btn-info.dropdown-toggle {
            border-left: 1px solid #1fadea;
        }




        /*mail inbox*/
        .mail-nav {
            margin:15px -15px 0 -15px;
        }
        .mail-nav li a {
            border-radius:0;
            -webkit-border-radius:0;
            border-top:1px solid #f2f3f6;
            padding:15px;
            border-right:3px solid rgba(0,0,0,0);
        }
        .mail-nav>li>a:hover,.mail-nav>li>a:focus {
            background:#fafafa;
            color:#F78B1F;
            border-right:3px solid #F78B1F;
        }
        .mail-nav>li.active>a,.mail-nav>li.active>a:hover,.mail-nav>li.active>a:focus {
            background:#fafafa;
            color:#F78B1F;
            border-right:3px solid #F78B1F;
        }
        .mail-nav>li+li {
            margin-left:0;
            margin-top:0px;
        }
        .mail-nav i {
            font-size:16px;
            margin-right:10px;
        }
        .inbox-notification {
            margin-top:-2px;
        }
        .user-head .inbox-avatar {
            width:65px;
            float:left;
        }
        .user-head .inbox-avatar img {
            border-radius:4px;
            -webkit-border-radius:4px;
        }
        .user-head .user-name {
            display:inline-block;
            margin:0 0 0 10px;
        }
        .user-head .user-name h5 {
            font-size:14px;
            margin-top:15px;
            margin-bottom:0;
            font-weight:300;
        }
        .user-head .user-name h5 a {
            color:#fff;
        }
        .user-head .user-name span a {
            font-size:12px;
            color:#87e2e7;
        }
        a.mail-dropdown {
            background:#80d3d9;
            padding:3px 5px;
            font-size:10px;
            color:#01a7b3;
            border-radius:2px;
            margin-top:20px;
        }
        .inbox-body {
            padding:20px;
        }
        .btn-compose {
            background:#F78B1F;
            padding:12px 0;
            text-align:center;
            width:100%;
            color:#fff;
        }
        .btn-compose:hover,.btn-compose:focus {
            background:#1ca59e;
            color:#fff;
        }
        ul.inbox-nav {
            display:inline-block;
            width:100%;
            margin:0;
            padding:0;
        }
        .inbox-divider {
            border-bottom:1px solid #d5d8df;
        }
        .inbox-action {
            margin-top:50px;
        }
        .src-position {
            margin-top:-7px;
        }
        .mail-src-position {
            margin-top:-3px;
        }
        ul.labels-info {
            border-bottom:1px solid #f1f2f7;
            margin-bottom:10px;
        }
        ul.inbox-nav li {
            display:inline-block;
            line-height:45px;
            width:100%;
        }
        ul.inbox-nav li a {
            color:#6a6a6a;
            line-height:45px;
            width:100%;
            display:inline-block;
            padding:0 20px;
        }
        ul.inbox-nav li a:hover,ul.inbox-nav li.active a,ul.inbox-nav li a:focus {
            color:#6a6a6a;
            background:#d5d7de;
        }
        ul.inbox-nav li a i {
            padding-right:10px;
            font-size:16px;
            color:#6a6a6a;
        }
        ul.inbox-nav li a span.label {
            margin-top:13px;
        }
        ul.labels-info li h4 {
            padding-top:5px;
            color:#5c5c5e;
            font-size:15px;
            text-transform:uppercase;
        }
        ul.labels-info li {
            margin:0;
        }
        ul.labels-info li a {
            color:#6a6a6a;
            border-radius:0;
            padding-left:0;
            padding-right:0;
        }
        ul.labels-info li a:hover,ul.labels-info li a:focus {
            color:#6a6a6a;
            background:none;
        }
        ul.labels-info li a i {
            padding-right:10px;
        }
        .nav.nav-pills.nav-stacked.labels-info p {
            margin-bottom:0;
            padding:0 22px;
            color:#9d9f9e;
            font-size:11px;
        }
        .inbox-head {
            padding:20px;
            background:#41cac0;
            color:#fff;
            border-radius:0 4px 0 0;
            -webkit-border-radius:0 4px 0 0;
            min-height:80px;
        }
        .inbox-head h3 {
            margin:0;
            display:inline-block;
            padding-top:6px;
            font-weight:300;
        }
        .inbox-head .sr-input {
            height:40px;
            border:none;
            box-shadow:none;
            padding:0 10px;
            float:left;
            border-radius:4px 0 0 4px;
            color:#8a8a8a;
        }
        .inbox-head .sr-btn {
            height:40px;
            border:none;
            background:#00a6b2;
            color:#fff;
            padding:0 20px;
            border-radius:0 4px 4px 0;
            -webkit-border-radius:0 4px 4px 0;
        }
        .wht-bg {
            background:#fff;
        }
        .wht-bg h4 {
            font-size:24px;
            color:#a2a2a2;
            font-weight:300;
        }
        .table-inbox-wrap {
            margin:0 -15px;
        }
        .mail-checkbox {
            margin-right:10px;
        }
        .table-inbox {
            margin:0;
        }
        .table-inbox tr td {
            padding:12px !important;
        }
        .table-inbox tr td:first-child {
            width:5%;
        }
        .table-inbox tr td:first-child .icheckbox_minimal {
            margin-left:15px;
        }
        .table-inbox tr td:hover {
            cursor:pointer;
        }
        .table-inbox tr td .fa-star.inbox-started,.table-inbox tr td .fa-star:hover {
            color:#f78a09;
        }
        .table-inbox tr td .fa-star {
            color:#d5d5d5;
        }
        .table-inbox tr.unread td {
            font-weight:600;
            background:#f7f7f7;
        }

        .table-inbox tr.unread a {
            color: #32323a;
        }
        .table-inbox tr a {
            color: #767676;
        }

        ul.inbox-pagination {
            float:right;
            list-style-type: none;
        }
        ul.inbox-pagination li {
            float:left;
        }

        .pagination li a {
            color: #32323a;
        }
        .mail-option {
            display:inline-block;
            margin-bottom:10px;
            width:100%;
        }
        .mail-option .chk-all {
            float:left;
        }
        .mail-option .chk-all,.mail-option .btn-group {
            margin-right:5px;
        }
        .mail-option .chk-all,.mail-option .btn-group a.btn {
            border:1px solid #e7e7e7;
            padding:5px 10px;
            display:inline-block;
            background:#fcfcfc;
            color:#afafaf;
            border-radius:3px !important;
            -webkit-border-radius:3px !important;
        }
        .inbox-pagination a.np-btn {
            border:1px solid #e7e7e7;
            padding:5px 15px;
            display:inline-block;
            background:#fcfcfc;
            color:#afafaf;
            border-radius:3px !important;
            -webkit-border-radius:3px !important;
        }
        .mail-option .chk-all input[type=checkbox] {
            margin-top:0;
        }
        .mail-option .btn-group a.all {
            padding:0;
            border:none;
        }
        .inbox-pagination a.np-btn {
            margin-left:5px;
        }
        .inbox-pagination li span {
            display:inline-block;
            margin-top:7px;
            margin-right:5px;
        }

        .inbox-body .modal .modal-body input,.inbox-body .modal .modal-body textarea {
            border:1px solid #e6e6e6;
            box-shadow:none;
        }
        .btn-send,.btn-send:hover {
            background:#00A8B3;
            color:#fff;
        }
        .btn-send:hover {
            background:#009da7;
        }
        .modal-header h4.modal-title {
            font-weight:300;
            font-family:'Open Sans',sans-serif;
        }
        .modal-body label {
            font-weight:400;
            font-family: 'Open Sans',sans-serif;
        }

        .compose-mail {
            width: 100%;
            display: inline-block;
            position: relative;
            margin-top: 20px;
        }


        .compose-mail .compose-options {
            color: #979797;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            position: absolute;
            right: 10px;
            top: 7px;
        }

        .compose-mail input, .compose-mail input:focus {
            border:none;
            padding: 0;
            width: 80%;
            float: left;
        }
        .compose-mail .form-group {
            border:1px solid #F2F3F6;
            display: inline-block;
            width: 100%;
            margin-bottom: 0;
        }

        .compose-mail .form-group label {
            line-height: 34px;
            width: 10%;
            float: left;
            padding-left: 5px;
            margin-bottom: 0;
        }

        .compose-editor input {
            margin-top: 15px;
        }

        .compose-editor {
            margin-bottom: 15px;
            display: inline-block;
            width: 100%;
        }

        .compose-btn {
            float: left;
            margin-top: 6px;
        }

        .mail-header h4 {
            font-weight: 300;
        }

        .mail-sender, .attachment-mail {
            width: 100%;
            display: inline-block;
            margin: 20px 0;
            border-top:1px solid #EFF2F7 ;
            border-bottom:1px solid #EFF2F7 ;
            padding: 10px 0;

        }

        .mail-sender img {
            width: 30px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        .mail-sender .date {
            line-height: 30px;
            margin-bottom: 0;
            text-align: right;
        }

        .view-mail a, .attachment-mail a:hover {
            color: #35bcb5;
        }

        .attachment-mail a{
            color: #32323a;
        }

        .attachment-mail ul li  {
            float: left;
            width: 200px;
            margin-right: 15px;
            margin-top: 15px;
            list-style: none;
        }

        .attachment-mail ul li a.atch-thumb img {
            width: 200px;
            height: 180px;
            margin-bottom: 10px;
        }

        .attachment-mail ul li a.name span {
            float: right;
            color: #767676;
        }


        /*advanced table*/
        .general-table .progress {
            margin-bottom:0;
        }
        .adv-table table tr td {
            padding:10px;
        }
        .adv-table table.display thead th {
            border-bottom:1px solid #DDDDDD;
            padding:10px;
        }
        tr.odd.gradeA td.sorting_1,tr.odd td.sorting_1,tr.even.gradeA td.sorting_1 {
            background:none;
        }
        td.details {
            background-color:#eee;
        }
        td.details table tr td,.dataTable tr:last-child {
            border:none;
        }
        .adv-table table.display tr.odd.gradeA {
            background-color:#F9F9F9;
        }
        .adv-table table.display tr.even.gradeA {
            background-color:#FFFFFF;
        }
        .adv-table .dataTables_filter label input {
            float:right;
            margin-left:10px;
            width:78%;
        }
        .adv-table .dataTables_filter label {
            line-height:33px;
            width:100%;
        }
        .adv-table .dataTables_length select {
            display:inline-block;
            margin:0 10px 0 0;
            padding:5px 8px;
            width:65px;
        }
        .adv-table .dataTables_info,.dataTables_paginate {
            padding:15px 0;
        }
        .adv-table .dataTables_length,.adv-table .dataTables_filter {
            padding:15px 0;
        }
        .cke_chrome {
            border:none !important;
        }
        .editable-table .dataTables_filter {
            width:80%;
        }
        tr.odd.gradeX td.sorting_1,tr.even.gradeX td.sorting_1,table.display tr.even.gradeX,table.display tr.gradeX,tr.even.gradeU td.sorting_1,tr.even td.sorting_1,table.display tr.even.gradeC,table.display tr.gradeC,tr.odd.gradeC td.sorting_1,table.display tr.even.gradeU,table.display tr.gradeU,tr.odd.gradeU td.sorting_1 {
            background: none !important;
        }


        /*table*/
        .table-advance tr td {
            vertical-align:middle !important;
        }
        .no-border {
            border-bottom:none;
        }
        .dataTables_length,.dataTables_filter {
            padding:15px;
        }
        .dataTables_info {
            padding:0 15px;
        }
        .dataTables_filter {
            float:right;
        }
        .dataTables_length select {
            width:65px;
            padding:5px 8px;
        }
        .dataTables_length label,.dataTables_filter label {
            font-weight:300;
        }
        .dataTables_filter label {
            width:100%;
        }
        .dataTables_filter label input {
            width:78%;
        }
        .border-top {
            border-top:1px solid #ddd;
        }
        .dataTables_paginate.paging_bootstrap.pagination li {
            float:left;
            margin:0 1px;
            border:1px solid #ddd;
            border-radius:3px;
            -webkit-border-radius:3px;
            list-style: none;
        }
        .dataTables_paginate.paging_bootstrap.pagination li.disabled a {
            color:#c7c7c7;
        }
        .dataTables_paginate.paging_bootstrap.pagination li a {
            color:#797979;
            padding:5px 10px;
            display:inline-block;
        }
        .dataTables_paginate.paging_bootstrap.pagination li:hover a,.dataTables_paginate.paging_bootstrap.pagination li.active a {
            color:#797979;
            background:#eee;
            border-radius:3px;
            -webkit-border-radius:3px;
        }
        .dataTables_paginate.paging_bootstrap.pagination {
            float:right;
            margin-top:-5px;
            margin-bottom:15px;
        }
        .dataTable tr:last-child {
            border-bottom: 1px solid #ddd;
        }





        .dropdown.dropdown-lg .dropdown-menu {
            margin-top: -1px;
            padding: 6px 20px;
        }
        .input-group-btn .btn-group {
            display: flex !important;
        }
        .btn-group .btn {
            border-radius: 0;
            margin-left: -1px;
        }
        .btn-group .btn:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px; 
        }
        .btn-group .form-horizontal .btn[type="submit"] {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
      }
      .form-horizontal .form-group {
        margin-left: 0; 
        margin-right: 0;
    }


    @media screen and (min-width: 768px) {

        .dropdown.dropdown-lg {
            position: static !important;
        }
        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 500px;
        }
    }




    /*gallery*/

    .media-filter {
        float: left;
        margin: 10px 0;
        padding-left: 0;
    }

    .media-filter li{
        float: left;
        margin-right: 10px;
        list-style: none;
    }

    .media-filter li a{
        background: #e6e6e6;
        padding: 5px 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
    }

    .media-filter li a:hover, .media-filter li a:focus{
        background: #F78B1F;
        color: #fff;
    }

    .media-gal {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .media-gal .item {
        float: left;
    }

    .media-gal .item {
        margin-bottom: 1%;
        margin-right: 1%;
        width: 233px;
        padding: 10px;
        border: 1px solid #ddd;
    }

    .media-gal .item p {
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
    }

    .media-gal .item img {
        height: 200px;
        width: 100%;
    }

    .img-modal img{
        width: 100%;
        margin-bottom: 10px;
    }

    /* Start: Recommended Isotope styles */

    /* Isotope Filtering */

    .isotope-item {
        z-index: 2;
    }

    .isotope-hidden.isotope-item {
        pointer-events: none;
        z-index: 1;
    }

    /*Isotope CSS3 transitions */

    .isotope,
    .isotope .isotope-item {
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }

    .isotope {
        -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        -ms-transition-property: height, width;
        -o-transition-property: height, width;
        transition-property: height, width;
    }

    .isotope .isotope-item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
    }

    /*disabling Isotope CSS3 transitions */

    .isotope.no-transition,
    .isotope.no-transition .isotope-item,
    .isotope .isotope-item.no-transition {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
    }


    /* disable CSS transitions for containers with infinite scrolling*/
    .isotope.infinite-scrolling {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }

    /*draggable portlet*/

    .sortable-box-placeholder {
        height:200px !important;;
        border: 2px dashed #828295;
        margin-bottom: 20px;
        background: #e5e6eb;
    }

    .sortable{
        min-height: 400px;;
    }

    .carga{ font-size:20px; margin-bottom:20px}
    .margtop15{margin-top:15px !important}
    .projeto form-group  {
     font-size:12px;
 }
 .btncentral{ padding:20px; }


 /*DASHBOARD -jaman*/
 .main-chart {
    width:100%;
    height:265px;
}
#flotTip {
    background:#fff;
    border:#ccc 1px solid;
    padding:10px;
}
#legendcontainer26 {
    padding:10px 0px;
}
#legendcontainer26 .legendColorBox {
    padding-right:5px;
}
#legendcontainer26 .legendColorBox div {
    border-radius:100% !important;
}
.widget-h {
    color:#afaebc;
    font-size:16px;
    text-transform:uppercase;
    margin:0px 0px 10px 0px;
    text-align:center;
}
.gauge-canvas {
    text-align:center;
}
.gauge-value {
    color:#fa8564;
    font-size:16px;
    font-weight:bold;
    padding-left:20px;
}
.gauge-title {
    color:#ccc;
    font-size:14px;
    padding-right:20px;
}
.gauge-meta {
    margin:0px;
    padding-top:7px;
    list-style: none;
    padding-left: 0;
}
.daily-visit {
    text-align:center;
}
.daily-visit-spark {
    padding:10px 0px;
}
.sm-pie .legendColorBox {
    padding-right:5px;
}
.sm-pie .legendColorBox>div {
    border:#fff 0px solid !important;
}
.sm-pie .legendColorBox div {
    border-radius:100% !important;
}
.epie-chart {
    position:relative;
    display:inline-block;
    width:80px;
    height:80px;
    text-align:center;
}
.epie-chart canvas {
    position:absolute;
    top:0;
    left:0;
}
.percent {
    display:inline-block;
    line-height:80px;
    z-index:2;
}
.pc-epie-chart {
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;
    text-align:center;
}
.pc-epie-chart canvas {
    position:absolute;
    top:0;
    left:0;
}
.pc-epie-chart .percent {
    display:inline-block;
    line-height:50px;
    z-index:2;
    font-size:10px;
    color:#5bc6f0;
}
.percent:after {
    content:'%';
    margin-left:0.1em;
    font-size:.8em;
}
.chart-meta {
    margin:0px;
    padding-left: 0;
    list-style: none;
}
.visit-chart-value {
    font-size:18px;
    color:#3acdc7;
    font-weight:600;
    padding-top:10px;
}
.visit-chart-title {
    font-size:16px;
    padding-top:10px;
    color:#ccc;
}
.visit-chart-title i {
    color:#3acdc7;
}
.top-stats-panel {
    min-height:164px;
}
.top-stats-panel .sm-pie {
    margin-top:30px;
}
.sm-pie {
    height:100px;
    width:100%;
    display:block;
}
.target-sell {
    height:40px;
    width:100%;
    display:block;
}
.side-graph-info {
    float:left;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:15px;
}
.side-mini-graph {
    float:right;
    width:70px;
    margin-right:10px;
    text-align:center;
}
.side-graph-info.payment-info {
    padding-top:10px;
}
.monthly-stats {
    -webkit-border-radius:4px 4px 0px 0px;
    border-radius:4px 4px 0px 0px;
    margin:-15px -15px 15px -15px;
    padding:15px;
}
.monthly-stats.pink {
    background-color:#9972b5 !important;
    ;
}
.sparkline {
    text-align:center;
}
.monthly-stats h4 {
    color:#fff;
    font-weight:normal;
    text-transform:uppercase;
    margin:0px;
    padding:5px 0px 10px 0px;
}
.circle-sat ul {
    text-align:center;
}
.circle-sat ul li {
    display:inline-block;
}
.circle-sat ul li span {
    display:block;
    text-transform:uppercase;
}
.left-stat-label span,.right-stat-label span {
    display:block;
}
.left-stat-label {
    text-align:right;
    font-size:11px;
    position:relative;
    top:10px;
    padding-right:10px;
}
.right-stat-label {
    text-align:left;
    font-size:11px;
    position:relative;
    top:10px;
    padding-left:10px;
}
.left-stat-label .sell-percent {
    color:#f9a10c;
    font-size:14px;
}
.right-stat-label .sell-percent {
    color:#36d8c0;
    padding-top:30px;
    font-size:14px;
}
.spark-bar-label span {
    display:block;
    color:#bbb;
}
.bar-label-value {
    font-size:20px;
    color:#666 !important;
}
.prospective-spark-bar {
    margin:0px;
    padding-left: 0;
}
.prospective-spark-bar li {
    padding:20px 0px 20px 0px;
    list-style: none;
}
.jqstooltip:after {
    top:100%;
    left:50%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(136,183,213,0);
    border-top-color:rgba(0,0,0,0.6);
    border-width:4px;
    margin-left:-4px;
}
.stat-btn {
    padding:3px;
    background-color:#eee6f5;
    border-radius:3px;
    height:24px;
    color:#cab1d9;
}
.stat-btn:hover {
    background-color:#422c50;
    color:#cab1d9;
}
.stat-btn.active {
    background-color:#422c50;
    color:#cab1d9;
}
.region-earning-stats {
    text-align:center;
    color:#6d6d6d;
    text-transform:uppercase;
    padding:40px 30px;
    font-family:'Open Sans',sans-serif;
    font-weight:600;
}
.region-earning-stats span {
    display:block;
    color:#b0c781;
    font-size:20px;
}
.location-earning-stats {
    text-align:center;
    font-family:'Open Sans',sans-serif;
    font-weight:600;
    margin-bottom:30px;
    padding-left: 0;
}
.location-earning-stats li {
    padding:0px 15px;
}
.location-earning-stats li {
    display:inline-block;
    text-transform:uppercase;
    font-size:12px;
}
.location-earning-stats li span {
    display:block;
    font-size:14px;
}
.stat-divider {
    border-right:#dadada 1px dashed;
}
.vector-stat {
    height:150px;
    margin-top:20px;
}
.alert-icon {
    width:40px;
    height:40px;
    display:inline-block;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
.alert-icon i {
    width:40px;
    height:40px;
    display:block;
    text-align:center;
    line-height:40px;
    font-size:20px;
    color:#fff;
}
.notification-info {
    margin-left:56px;
    margin-top:-40px;
}
.notification-meta {
    margin-bottom:3px;
    padding-left: 0;
    list-style: none;
}
.notification-info p {
    margin:0px;
    color:#999;
    font-size:12px;
}
.alert-info .alert-icon {
    background-color:#99cce3;
}
.alert-danger .alert-icon {
    background-color:#fcb1ae;
}
.alert-success .alert-icon {
    background-color:#98d7ad;
}
.alert-warning .alert-icon {
    background-color:#ffe699;
}
.notification-sender {
    color:#414147;
}
.notification-time {
    font-style:italic;
    color:#999;
}
.alert-info .notification-info a {
    color:#45a2c9;
}
.alert-danger .notification-info a {
    color:#fb6f6b;
}
.alert-success .notification-info a {
    color:#42b663;
}
.alert-warning .notification-info a {
    color:#e6cb76;
}
.alert-info.bucket-notification {
    background-color:#eef7fd;
}
.alert-danger.bucket-notification {
    background-color:#fef3f2;
}
.alert-success.bucket-notification {
    background-color:#eef8f8;
}
.alert-warning.bucket-notification {
    background-color: #fff7e1;
}
/*=Chat=*/
.conversation-list {
    list-style: none;
    padding-left: 0;
}
.conversation-list li {
    margin-bottom:24px;
}
.conversation-list .chat-avatar {
    width:40px;
    display:inline-block;
    text-align:center;
    float:left;
}
.conversation-list .chat-avatar i {
    font-size:12px;
    font-style:normal;
}
.conversation-list .ctext-wrap i {
    display:block;
    font-style:normal;
    font-weight:bold;
    position:relative;
    font-size:12px;
    color:#2cb9b3;
}
.conversation-list .conversation-text {
    display:inline-block;
    font-size:12px;
    float:left;
    margin-left:12px;
    width:70%;
}
.conversation-list .ctext-wrap {
    padding:10px;
    background:#d5f2ef;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position:relative;
    display:inline-block;
}
.conversation-list .ctext-wrap p {
    margin:0px;
    padding-top:3px;
}
.conversation-list .ctext-wrap:after {
    right:100%;
    top:20%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(213,242,239,0);
    border-right-color:#d5f2ef;
    border-width:5px;
    margin-top:-5px;
}
.conversation-list .odd .chat-avatar {
    float:right !important;
}
.conversation-list .odd .conversation-text {
    width:70% !important;
    margin-right:12px;
    text-align: right;
    float:right !important;
}
.conversation-list .odd .ctext-wrap {
    background:#eeeef2 !important;
}
.conversation-list .odd .ctext-wrap i {
    color:#acacac;
}
.conversation-list .odd .ctext-wrap:after {
    left:100% !important;
    top:20% !important;
    border-color:rgba(238,238,242,0)!important;
    border-left-color:#eeeef2!important;
}
.chat-send {
    padding-left:0px;
}
.chat-send button {
    width: 100%;
}


.trilhas  a{ font-size:11px;
    position: relative;
    display: block;
    padding: 10px 10px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.trilha .panel-heading{
    padding: 10px !important;



}

.trilhacadastradas .panel-heading{
    padding: 5px !important;
    background-color: #fff !important; 



}



.dd-handle {
    height: 40px !important;
    padding: 10px 10px !important;;

}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    display: block;
    max-width: 100%;
    height: auto;
}

span.tag {
    border: 1px solid #a5d24a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    float: left;
    padding: 5px;
    text-decoration: none;
    background: #cde69c;
    color: #638421;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: helvetica;
    font-size: 13px;
}



/*!
 * Start Bootstrap 
 */



 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}



.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;

}

.nav>li>a:focus, .nav>li>a:hover i {
   color: #F29C00;
}


.navbar-top-links {
    margin-right: 0;
}

@media(max-width:768px) {
    .navbar-top-links {
     background-color:#eee;
     -moz-box-shadow:    inset 0 0 10px #666;
     -webkit-box-shadow: inset 0 0 10px #666;
     box-shadow:         inset 0 0 10px #666;


 }



 .navbar-top-links li {
    display: inline-block;

}

.navbar-top-links li a {
    padding: 15px; 
    min-height: 50px;     
    color:#fff !important;      


}

}

@media(max-width:468px) {
    .navbar-top-links {
     background-color:#eee; 
     -moz-box-shadow:    inset 0 0 10px #666;
     -webkit-box-shadow: inset 0 0 10px #666;
     box-shadow:         inset 0 0 10px #666;

 }

 .navbar-top-links li {
    display: inline-block;
    width:100%;
    padding:0px 5px;

}

.projeto  {

	margin-top:10px; 
}


}


.navbar-top-links li {
    display: inline-block;

    padding: 10px;
    font-size:11px;

}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;


}


.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
    color:#ccc;
}


/* bootstrap reset menu*/
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px; 
}


.sidebar ul li a.active i {

	color:#ccc;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 55px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 5%;  
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}



/* filters */


.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: 5px;
    margin-right: 5px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.text-nowrap td.short {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}
.text-nowrap td.medium {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.text-nowrap td.long {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

/* reset bootstrap */

.breadcrumb {
 
    padding: 4px 5px;
    margin-bottom: -5px;
    list-style: none;
    background-color: transparent;
    border-radius: 8px;
    font-size: 10px;
    margin-top: -5px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  }




.panel-heading {
    padding: 5px 5px;
  }

.panel-list>.panel-heading {
    border: 0px solid #eff2f7;
    color: #767676;
    text-transform: uppercase;
    padding: 15px;
    color: #00478B;
    border-bottom: 1px dotted #ccc;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;


}
.panel-list>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-list .panel-heading {
    padding: 15px 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

.panel .panel-list {

    border: 0px solid transparent;
    border-radius: 0px;

}

.panel-list .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    color: inherit;
}

.help-block{  font-size: 12px; font-style: italic;}

.novatrilha{ 

    border: 1px solid #ccc;
    background: #f1f1f1;
    

    box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
    


}